.game_over {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 500px;
        height: 500px;
    }
}

.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_stack {
    position: relative;
    right: 30%;

    img {
        position: absolute;
        width: 120px;

        @media (max-width: 720px) {
            width: 90px;
        }
    }
}

.top_card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {

        transform: scale(1.1) translateY(-5px);
    }
}

.played_cards {
    left: 24px;
    transform: scale(1.1) translateX(120px) translateY(-280px) rotate(-10deg);

    @media (max-width: 720px) {
        left: 10px;
        transform: scale(1.1) translateX(120px) translateY(-200px) rotate(-10deg);
    }

}

.pick_card {
    animation: pick_card_animation 1.25s ease-in-out;
    transform: scale(1.1) translateX(120px) translateY(-280px) rotate(-10deg);

    @media (max-width: 720px) {
        animation: pick_card_animation_mobile 1.25s ease-in-out;
        transform: scale(1.1) translateX(120px) translateY(-200px) rotate(-10deg);
    }
}

@keyframes pick_card_animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(120px) translateY(-280px) rotate(-10deg);


    }
}

@media (max-width: 720px) {
    @keyframes pick_card_animation_mobile {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.7);
        }

        50% {
            transform: scale(1.7);
        }

        100% {
            transform: scale(1.1) translateX(108px) translateY(-200px) rotate(-10deg);


        }
    }
}

.please_turn_device {
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.player_position {
    position: absolute;
    z-index: 1;
    right: 0%;
}

.scroll_container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;

    app-player-mobile {
        margin-left: 8px;
    }
}


.btn_add {
    position: absolute;
    right: 32px;
    bottom: 32px;



    @media (max-width: 720px) {
        bottom: 15%;
        position: fixed;
    }
}

.preload_image {
    opacity: 0;
    z-index: -99999;
    height: 0;
    width: 0;
}

.pin_bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width: 720px) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

app-player-desktop,
app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.15);
    }
}